* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0px;
    color: white;
}

body {
    background-color: #1E1E1E;
    background-image: url("../IMG/degradado_fondo.png");
    background-repeat: repeat;
}

nav {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 52px;
    position: relative;
    top: 24px;
}

a { 
    text-decoration: none;
}

header {
    position: relative;
    top: 20px;
    left: 150px;
    width: 1200px;
    height: 450px;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solig rgba(255, 255, 255, 0.18);
    border-radius: 32px;

    z-index: 1;
}

header img {
    width: 57px;
    height: 15;
    float: left;
    margin-left: 45px;
    margin-top: 40px;
}

h1 {
    /*border: 3px solid white;*/
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 72px;
}

header p {
    text-align: center;
    font-size: 16px;
    width: 660px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.degradado {
    z-index: 0;
    position: absolute;
    
}*/

.indice {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solig rgba(255, 255, 255, 0.18);
    border-radius: 32px;

    width: 256px;
    height: 76px;
    text-align: center;
    font-size: 14px;

    z-index: 2;
}

.indice a {
    /*vertical-align: center;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#botones {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.circulo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: white;
}

table {
    width: 90%;
    table-layout: fixed;
}
td, tr {
    /*border: green 3px solid;*/
}

.explicacion {
    vertical-align: top;
    padding-right: 50px;
    width: 55%;
}

.codigo {
    padding: 60px;
    padding-left: 120px;
    width: 45%;
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solig rgba(255, 255, 255, 0.18);
    border-radius: 32px;
}

.ejemplo_circulo {
    border: 3px solid red;
}
 p {
    text-align: justify;
 }

 h2 {
    position: relative;
    left: 72px;
 }

 #estructura_general {
    position: relative;
    top: 100px;
 }