* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0px;
    color: white;
}

body {
    background-color: #1E1E1E;
    background-image: url("../IMG/degradado_fondo.png");
    background-repeat: repeat;
    width: 100%;
    overflow-x: hidden;
}

nav {
    padding: 20px 0px;
    background-color: #1E1E1E;
    background-image: url("../IMG/degradado_fondo.png");
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 52px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

a { 
    text-decoration: none;
}

header {
    position: relative;
    top: 50px;
    left: 150px;
    width: 1200px;
    height: 450px;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solig rgba(255, 255, 255, 0.18);
    border-radius: 32px;

    z-index: 1;
}

header img {
    width: 57px;
    height: 15;
    float: left;
    margin-left: 45px;
    margin-top: 40px;
}

h1 {
    /*border: 3px solid white;*/
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 72px;
}

header p {
    text-align: center;
    font-size: 16px;
    width: 660px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.degradado {
    z-index: 0;
    position: absolute;
    
}*/

.indice {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solig rgba(255, 255, 255, 0.18);
    border-radius: 32px;

    width: 256px;
    height: 76px;
    text-align: center;
    font-size: 14px;

    z-index: 2;
}

.indice a {
    /*vertical-align: center;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#botones {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.circulo {
    width: 100px;
    height: 100px;
    border-radius: 50%;   /* círculo perfecto */
    background-color: rgb(255, 255, 255);
    display: block;
    margin: auto;
    margin-left: 400px;
}

.tabla_contenido {
    width: 90%;
    table-layout: fixed;
    border-collapse: separate; /* obligatorio para que funcione border-spacing */
    border-spacing: 14px;
    position: relative;
    top: -40px;

}
td, tr {
   /* border: green 3px solid;*/
}

.explicacion {
    vertical-align: top;
    padding-right: 50px;
    /*width: 55%;*/
}

.codigo {
    padding: 60px;
    padding-left: 110px;
    width: 45%;
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solig rgba(255, 255, 255, 0.18);
    border-radius: 32px;
}

.ejemplo_circulo {
    

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solig rgba(255, 255, 255, 0.18);
    border-radius: 32px;
}

 p {
    text-align: justify;
 }

 h2 {
    position: relative;
    left: 92px;
    font-size: 38px;
 }

#estructura_general {
    position: relative;
}

#delay {
    position: relative;
    top: 100px;
}

#primera_expl {
    padding: 20px;
    float: left;
    position: relative;
    left: 70px;
    width: 180px;

}

#primer_circulo{
    animation-name: MiPrimeraAnimacion;
    animation-duration: 7s;
}

 @keyframes MiPrimeraAnimacion {

    from {background-color: red;}
    to {background-color: yellow;}

}

#segundo_circulo{
    animation-name: MiPrimeraAnimacion1;
    animation-duration: 7s;
}

@keyframes MiPrimeraAnimacion1 {

		0% {background-color: red;}

		50% {background-color: yellow;}

		100% {background-color: green;}

	}

.apartado {
    position: relative;
    top: 100px;
}

#tercer_circulo {
    position: relative;
    top: 35px;
    margin-left: 0px;

    animation-name: myAnimation3;
    animation-duration: 7s;
    animation-delay: 2s;
}

#cuarto_circulo {
    position: relative;
    top: 35px;
    margin-left: 0px;

    animation-name: myAnimation3;
    animation-duration: 7s;
    animation-delay: -2s;
}


#excepcion {
    width: 75%;
    
}

@keyframes myAnimation3 {

    0%  {background-color:red; left:0px;}
    50% {background-color:yellow; left:400px;}
    100% {background-color:rgb(0, 255, 0); left:0px;}

}

#a_circulo {
    position: relative;
    top: 35px;
    margin-left: 0px;

    animation-name: myAnimation4;
    animation-duration: 4s;
    animation-direction: normal;
}

#b_circulo {
    position: relative;
    top: 35px;
    margin-left: 0px;

    animation-name: myAnimation4;
    animation-duration: 4s;
    animation-direction: reverse;
}

#c_circulo {
    position: relative;
    top: 35px;
    margin-left: 0px;

    animation-name: myAnimation4;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

#d_circulo {
    position: relative;
    top: 35px;
    margin-left: 0px;

    animation-name: myAnimation4;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;
}

@keyframes myAnimation4 {

    0%  {background-color:red; left:0px;}
    50% {background-color:yellow; left:200px;}
    100% {background-color:rgb(0, 255, 0); left:400px;}

}